*.h5
*.bat
.python-version

# general directories to ignore
ignore/
logs/

# virtual environment folder
monusac/

# in directory code/
monusac/
monusac_images_and_annotations/
data/
final/
data_part/
__pycache__/
